APP_SUPABASE_URL=https://hfskzexeonphhlljomms.supabase.co
APP_SUPABASE_SERVICE_ROLE_KEY=YOUR_SERVICE_ROLE_KEY
APP_SUPABASE_JWT_SECRET={"kty":"EC","crv":"P-256","alg":"ES256","x":"PUBLIC_X","y":"PUBLIC_Y","d":"PRIVATE"}
